.title{
    margin: 30px 0 30px;
}

.alert {
  vertical-align: middle;
  padding-left: 15px;
  padding-top: 10px;
  height: 40px;
  background-color: #E3F5FF;
  border: 2px solid #9FDDFF;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}