.fisrtPart{
  //position: absolute;
  //margin-top: 30px;
  bottom: 0;
  width: 100%;
  background: #21252a;
  clear:both;
  height: 100px;
}

.wrapper{
  p{
    //position: absolute;
    //left: 46%;
    //top: 0;
    //font-family: "Microsoft YaHei";
    //font-size: 14px;
    //color: #cccccc;
    //line-height: 90px;

    top: 0;
    font-size: 14px;
    color: #cccccc;
    line-height: 90px;
    text-align: center;
  }
}
