.astro-home{
  margin: 25px;
  min-height: 400px;
  .astro-home-search{
    a{
      cursor: pointer;
      position: absolute;
      top: 14px;
      left: 28%;
    }
    input{
      width: 29%;
      height: 50px;
      border-radius: 4px;
    }
    .astro-home-buttonBootom{
      background: #0588fa;
      color: #ffffff;
      outline: none;
      font-size: 14px;
      border: 1px solid #0588fa;
      text-align: center;
      //transition: all ease-in-out .3s;
      line-height: 28px;
      width: 100px;
      float: right;
      margin-top: -40px;
    }
  }

  .astro-home-thead-tr{
    height: 50px;
    background: #f1f3fb;
    th{
      line-height: 30px;
    }
  }

  .astro-home-page{
    color: #cccccc;
    font-size: 16px;
    position: fixed;
    display: block;
    width: 100%;
    top: 85%;
    p{
      display: inline-block;
    }
  }
  .astro-home-page-span{
    color: #0081f4;
  }

  .astro-home-pageNum{
    float: right;
    margin-top: -22px;
    margin-right: 5%;
    h2{
      cursor: pointer;
      font-size: 16px;
      color: #0081f4;
      display: inline-block;
      float: left;
      padding-top: 10px;
      margin-left: -50px;
    }
    ul{
      display: inline-block;
      margin-top: 22px;
    }
    a {
      font-size: 12px;
      text-decoration: none;
      cursor: -webkit-grabbing;
    }
  }
  .astro-home-pageNum-a2{
    position: absolute;
    left: 98%;
  }
}

.astro-user-table-td-a1{
  cursor: pointer;
  color: #0081f4;
}
.astro-user-table-td-a2{
  cursor: pointer;
  color: #ff3d24;
}
.astro-user-table-td-a1:hover{
  text-decoration: none;
  color: #0081f4;
}
.astro-user-table-td-a2:hover {
  text-decoration: none;
  color: #ff3d24;
}


.astro-home-modal{
  h4{
    text-align: center;
    background: #f6f6f6;
    height: 50px;
    line-height: 45px;
    margin: 0;
  }
}
.astro-home-modal-form{
  margin-top: 20px;
  margin-left: 17%;
  input{
    height: 38px;
  }
}
.astro-home-modal-button{
  button{
    background: #0588fa;
    color: #ffffff;
    outline: none;
    font-size: 14px;
    border: 1px solid #0588fa;
    text-align: center;
    line-height: 28px;
    width: 100px;
    margin: 50px 10px;
    position: relative;
    left: 32%;
  }
}