<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>destroy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />


    {% load static %}
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Theme style  -->
	<!--<link rel="stylesheet" href="login/css/style.css">-->

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

<div style="    width: 1200px;    margin: 0 auto;    margin-top: 80px;">
<form class="form-horizontal" method="post" style="    width: 600px;    margin: 0 auto;">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">搜索项目: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3"  name="prefix">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">搜索</button>
    </div>
  </div>
</form>
</div>

</body>

</html>
